

.radio{
    position: relative;
    right: 10vw;
}
.clabel{
    position: relative;
    right: 20vw;
    color: black;
}
#customer-section{
    position: absolute;
    top: 10vh;
    left: 5vw;
}

/*.input{*/
/*        top: 0;*/
/*        font-family: inherit;*/
/*        width: 50%;*/
/*        border: 0;*/
/*        border-bottom: 2px solid red;*/
/*        outline: 0;*/
/*        font-size: 1rem;*/
/*        color: red;*/
/*        padding: 7px 0;*/
/*        background: transparent;*/
/*        transition: 0.2s;*/
/*}*/
/*.form-control-input{*/
/*    top: 0;*/
/*    font-family: inherit;*/
/*    width: 10%;*/
/*    border: 0;*/
/*    border-bottom: 2px solid red;*/
/*    outline: 0;*/
/*    font-size: 0.5rem;*/
/*    color: red;*/
/*    padding: 7px 0;*/
/*    background: transparent;*/
/*    transition: 0.2s;*/
/*}*/
.title{
    color: #ff253a;
}
/*.title1{*/
/*    color: #0a53be;*/
/*}*/
/*#total-text,.unit{*/
/*    color: #0dcaf0;*/
/*}*/
#txtCusName,#contact,#address,#email{
    border-top: 0px;
    border-right: 0;
    border-left: 0;
    border-bottom-color: red;
    /*background-color: #20c997;*/
}
#customerTable tr:hover{
    background-color: red;
}
#cusIcon{
    width: 100px;
    height: 100px;
}

